* {
    background:                     #FFFFFFFF;
    background-alt:                 #FAFAFAFF;
    foreground:                     #5B6673FF;
    border:                         #F19618FF;
    border-alt:                     #FFC849FF;
    selected:                       #F0EDE4FF;
    urgent:                         #FF6565FF;
}

