/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"BlexMono Nerd Font Medium 12";
}

window {
    width:      			300px;
    padding:    			25px;
    border:					1px;
    border-radius:          4%;
    border-color:           @border;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
